#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;;
}

#home{
    height: 391px;
    padding: 2px 53px;
}

#home:before{
    height: 480px;
    flex-wrap: wrap;
}

#home p{
    font-size: 13px;
}

.h1-primary{
    font-size: 18px;;
}

.form-box{
    width:80%;
}